@model RestaurantWebApplication.Restaurant

@{
    ViewData["Title"] = "Edit";
}

<h1>EDIT</h1>

<h4>RESTAURANT</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RestaurantId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" class="form-control" asp-items="ViewBag.CityName"></select>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CorrectAdress" class="control-label"></label>
                <input asp-for="CorrectAdress" class="form-control" />
                <span asp-validation-for="CorrectAdress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MainThemeDefenition" class="control-label"></label>
                <input asp-for="MainThemeDefenition" class="form-control" />
                <span asp-validation-for="MainThemeDefenition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IconicDishId" class="control-label"></label>
                <select asp-for="IconicDishId" class="form-control" asp-items="ViewBag.IconicDishName"></select>
                <span asp-validation-for="IconicDishId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChefId" class="control-label"></label>
                <select asp-for="ChefId" class="form-control" asp-items="ViewBag.ChefName"></select>
                <span asp-validation-for="ChefId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MenuId" class="control-label"></label>
                <select asp-for="MenuId" class="form-control" asp-items="ViewBag.MenuId"></select>
                <span asp-validation-for="MenuId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">RESTAURANT LIST</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
